:root {
    --primary-button-and-span-color: #C271FF;
    --filler-text-color: #FFFFFF;
}

body {
    background-image: url('images-2/pic_1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    color: var(--filler-text-color);
}

.nav-link {
    color: var(--filler-text-color);
}


.the-pros {
    margin-top: 25%;
    margin-bottom: 10%;
}

.pro-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 21.5%;
    gap: 1rem;
}

.pro-imgs div {
    text-align: center;
    flex: 1 1 calc(50% - 1rem);
}

@media (min-width: 768px) {
    .pro-imgs div {
      flex: 1 1 calc(25% - 1rem);
    }
}

.pro-imgs img {
    max-width: 100%;
    height: auto;
}

.purple-word {
    color: var(--primary-button-and-span-color);
}

.purple-background {
    background-color: #C271FF;
    color: #FFFFFF;
    margin-top: 20px;
    height: 392px;
    display: flex;
    flex-direction: column;
    align-items: center;
}