:root {
    --primary-button-and-span-color: #C271FF;
    --filler-text-color: #FFFFFF;
}

.mt-6 {
    margin-top: 3rem;
}

.mt-7 {
    margin-top: 4rem;
}

.mt-8 {
    margin-top: 5rem;
}

.mt-9 {
    margin-top: 6rem;
}

.mt-10 {
    margin-top: 7rem;
}

.mr-10 {
    margin-top: 7rem;
}

.mr-6 {
    margin-top: 3rem;
}

.mr-7 {
    margin-top: 4rem;
}

.mr-8 {
    margin-top: 5rem;
}

.mr-9 {
    margin-top: 6rem;
}

.mr-10 {
    margin-top: 7rem;
}

.mb-6 {
    margin-top: 3rem;
}

.mb-7 {
    margin-top: 4rem;
}

.mb-8 {
    margin-top: 5rem;
}

.mb-9 {
    margin-top: 6rem;
}

.mb-10 {
    margin-top: 7rem;
}

html, body {
    height: 100%;
}

body {
    background: url('images/pic_1.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 1093px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.pic_1 {
    background: url('images-2/pic_1.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 1093px;
    position: relative;
    margin: 0;
}

.nav-link {
    color: var(--filler-text-color);
}


.the-pros {
    margin-top: 25%;
    margin-bottom: 10%;
}

.pro-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12.2%;
    gap: 1rem;
}

.pro-imgs div {
    text-align: center;
    flex: 1 1 calc(50% - 1rem);
}

@media (min-width: 768px) {
    .pro-imgs div {
      flex: 1 1 calc(25% - 1rem);
    }
}

.pro-imgs img {
    max-width: 100%;
    height: auto;
}

.purple-word {
    color: var(--primary-button-and-span-color);
}

.purple-background {
    background-color: #C271FF;
    color: #FFFFFF;
    height: 392px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: var(--primary-button-and-span-color);
    border: none;
    color: var(--filler-text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-block p {
    color: #071629;
    opacity: 50.16%;
}

.video-block {
    color: #071629;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .pro-imgs div {
      flex: 0 0 calc(25% - 20px);
    }
}

.gross-color-block {
    background-color: #071629;
    height: 502px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.help-pls {
    margin-bottom: 5%;
}

.needs-resized {
    transform: scale(0.3);
}

.thumbnail {
    transform: scale(0.8);
}

.phillip {
    color: var(--primary-button-and-span-color);
}

.pro-images-2 {
    width: 100%;
}

.row-alt {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.feet {
    background-color: #071629;
    color: #FFFFFF;
    padding: 20px;
    height: 249px !important;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

.feet-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feet-content img {
    max-height: 50px;
}